* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Roboto';
}

@font-face {
    font-family: 'Shrikhand';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/shrikhand-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/shrikhand-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/roboto-regular-webfont.woff') format('woff');
}

.shrikhand-font {
font-family: 'Shrikhand';
}

.left-right-margin {
    margin-left: 21px;
    margin-right: 21px;
}

.bold {
    font-weight: bold;
}

.header-logo {
    text-align: center;
    padding: 15px 0px 15px 0px;
}

#location-selector {
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgb(235, 235, 235);
    padding: 10px 0px 10px 0px;
    font-weight: bold;
}

#discover-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 25px 10px 25px 10px;
    background-color: rgb(246, 246, 246);
}

/* Button classes */

.elevated-btn {
    padding: 10px 15px 10px 15px;
    border: none;
    text-decoration: none;
    box-shadow: 0px 0px 5px 1px lightgray;
}

.purple-btn {
    background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: white;
}

.round-btn {
    border-radius: 20px;
}

.order-btn {
    align-self: center;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 20px;
}

/* End button classes */

#tutorial-section {
    margin: 20px 0px 20px 0px;
}

#tutorial-header {
    margin: 20px 20px 20px 21px;
}

.tutorial-numbers {
    position: absolute;
    left: 22px;
    padding: 5px 10px 5px 10px;
    background-color: #9356DC;
    border-radius: 100%;
    color: white;
}

#tutorial-list {
    display: flex;
    flex-direction: column;
}

.tutorial-box {
    display: flex;
    align-items: center;
    background-color: rgb(246, 246, 246);
    gap: 10px;
    margin: 0px 20px 20px 35px;
    border-radius: 20px;
    padding: 20px 20px 20px 30px;
    font-weight: bold;
    box-shadow: 0px 3px 5px lightgrey;
    font-size: 0.8em;
}

.tutorial-box:hover {
    background-color: #e7a8fb6b;
}

#restaurants-section {
    background-color: rgb(246, 246, 246);
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

#restaurants-title {
    margin: 20px 0px 0px 21px;
}

.restaurant-card {
    margin: 10px 21px 15px 21px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 1px lightgray;
    position: relative;
}

.new-marker {
    position: absolute;
    right: 15px;
    top: 15px;
    background: #99E2D0;
    color: green;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 12px;
}

.restaurant-card-pic {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-info {
    padding: 5px 0px 10px 10px;
}

.card-link {
    text-decoration: none;
    color: black;
}

footer {
    background-color: rgb(72, 72, 72);
    padding: 15px 0px 15px 0px;
}

.footer-logo {
    padding: 10px 0px 10px 0px;
}

.footer-links {
    color: white;
    margin: 0px 21px 0px 21px;
}

.footer-link {
    text-decoration: none;
    color: white;
}

.footer-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fa-utensils {
    font-size: 10px;
}

.fa-handshake-angle {
    font-size: 10px;
}

/* Menu Specific Styles */

.menu-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-arrow-left {
    color: black;
    position: absolute;
    left: 20px;
}

.menu-pic {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: -50px;
    z-index: -1;
    position: relative;
}

.menu-content {
    background-color: rgb(246, 246, 246);
    padding: 30px 0px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.menu-segment {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.segment-title {
    margin-left: 21px;
    margin-right: 21px;
    margin: 20px 21px 0px 21px;
    /* margin-bottom: px; */
}

.segment-title::after {
    content: "";
    width: 40px;
    height: 2px;
    display: block;
    background: #99E2D0;
}

.menu-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px 10px 10px;
    margin: 0px 10px;
    gap: 3px;
    box-shadow: 0px 0px 5px 1px lightgray;
    transform: translateY(20px);
    animation: menu-slide-in 1s ease 400ms;
    opacity: 0;
    animation-fill-mode: forwards;
}

.menu-desc {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
}

.menu-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small-font {
    font-size: 13px;
}

.menu-title {
    margin: 0px 21px 10px 21px;
}

.item-title {
    width: 85%;
}

@keyframes menu-slide-in {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.fa-heart {
    position: absolute;
    right: 20px;
    bottom: 35px;
}

.heart-outline {
    color: gray;
}

.heart-solid {
    background: linear-gradient(#FF79DA, #9356DC);
    opacity: 0;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    padding: 10px 0px;
    bottom: 25px;
}

.heart-solid:hover {
    animation: heartFill 500ms ease;
    animation-fill-mode: forwards;
}

@keyframes heartFill {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}