* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Roboto';
}

@font-face {
    font-family: 'Shrikhand';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/shrikhand-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/shrikhand-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/roboto-regular-webfont.woff') format('woff');
}

#header-logo {
    font-family: 'Shrikhand';
    text-align: center;
    padding: 15px 0px 15px 0px;
}

#location-selector {
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgb(235, 235, 235);
    padding: 10px 0px 10px 0px;
    font-weight: bold;
}

#discover-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 25px 10px 25px 10px;
    background-color: rgb(246, 246, 246);
}

#explore-button {
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
    border: none;
    color: white;
    text-decoration: none;
}

#tutorial-section {
    margin: 20px 0px 20px 0px;
}

#tutorial-header {
    margin: 0px 20px 20px 21px;
}

.tutorial-numbers {
    position: relative;
    left: -45px;
    padding: 5px 10px 5px 10px;
    background-color: #9356DC;
    border-radius: 100%;
    color: white;
}

#tutorial-list {
    display: flex;
    flex-direction: column;
}

.tutorial-box {
    display: flex;
    align-items: center;
    background-color: rgb(246, 246, 246);
    gap: 10px;
    margin: 0px 20px 20px 20px;
    border-radius: 20px;
    padding: 20px 20px 20px 30px;
    font-weight: bold;
    box-shadow: 0px 3px 5px lightgrey;
    font-size: 0.8em;
}

.tutorial-box:hover {
    background-color: #e7a8fb6b;
}

#restaurants-section {
    background-color: rgb(246, 246, 246);
    padding-bottom: 20px;
}

#restaurants-title {
    margin: 0px 0px 0px 21px;
    padding-top: 20px;
}

.restaurant-card {
    margin: 10px 21px 15px 21px;
    background-color: white;
    border-radius: 15px;
}

.restaurant-card-pic {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-info {
    padding: 5px 0px 10px 10px;
}

footer {
    background-color: rgb(72, 72, 72);
    padding: 15px 0px 15px 0px;
}

#footer-logo {
    font-family: 'Shrikhand';
    padding: 10px 0px 10px 0px;
}

#footer-links {
    color: white;
    margin: 0px 21px 0px 21px;
}

.footer-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}